.container-application {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100%;
    background-image: url('../../../assets/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
